aiogram==2.8
aiohttp==3.6.2
appdirs==1.4.3
async-timeout==3.0.1
attrs==19.3.0
Babel==2.9.1
certifi==2018.1.18
chardet==3.0.4
distlib==0.3.0
Django==1.10.6
docutils==0.13.1
filelock==3.0.12
future==0.18.2
idna==2.6
multidict==4.7.5
packaging==16.8
pipenv==11.8.0
Pygments==2.2.0
pyowm==2.8.0
pyparsing==2.2.0
pyTelegramBotAPI==3.6.1
python-telegram-bot==7.0.1
pytz==2020.1
requests==2.13.0
six==1.10.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.3.0
yarl==1.4.2

